In [5]:
import pandas as pd
import numpy as np
df1 = pd.read_csv("prediction_svm.csv")
df2 = pd.read_csv("prediction_xg.csv")
print(df1.shape, df2.shape)
sum(df1['SalePrice'] == df2['SalePrice'])
display(df1.head())
display(df2.head())

(1459, 2) (1459, 2)

     Id      SalePrice
0  1461  111515.461962
1  1462  163183.372720
2  1463  186243.413709
3  1464  198011.002475
4  1465  191728.687016

     Id      SalePrice
0  1461  136011.968750
1  1462  163942.296875
2  1463  192587.781250
3  1464  192966.500000
4  1465  171058.437500